{% extends 'admin_ui.html' %}
{% block content %}
<div class="storebody">
    {% for product in products %}
    {% if product.shop_un == s_un %}
    <a href="http://127.0.0.1:8000/edit_prod/{{s_un}}/{{product.id}}" style="text-decoration: none;">
        <div class="shop">
            <img src="{{product.image.url}}" alt="{{product.name}}"><br>
            <p style="word-wrap: break-word; padding-left: 5px; padding-right: 5px;">
                <strong>Name : </strong>{{product.name}}<br>
                <strong>Description : </strong>{{product.description}}<br>
                <strong>Cost : </strong>{{product.cost}}<br>
                <strong>Quantity : </strong>{{product.qtn}}<br>
            </p>
        </div>
    </a>
    {% endif %}{% endfor %}
</div>
{% endblock content %}